html {

    font-family: 'Playfair Display', 'Times New Roman', serif;
}

body {
    background-color: #c1dbd8;
    margin: 5vw;
}

header,
div {
    padding: 1.5vw;
    margin: 1.5vw;
    background-color: white;
}

h1,
h2 {
    margin: 0;
    line-height: 1;
}

p {
    margin: .7vw;
}

.header__artist-name {
    color: grey;
    font-size: large;
}

.header__artist-quote {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.tracklist__length {
    color: darkgrey;
}

.reviews__number {
    font-size: x-large;
    margin-top: 1.75vw;
    margin-bottom: 0.75vw;
}